<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sites</key>
	<array>
		<dict>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>http://www.google.com/ncr</string>
			<key>icon</key>
			<string>icon-site-google</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bing</string>
			<key>url</key>
			<string>http://www.bing.com/</string>
			<key>icon</key>
			<string>icon-site-bing</string>
		</dict>
		<dict>
			<key>name</key>
			<string>V2EX</string>
			<key>url</key>
			<string>http://www.v2ex.com/</string>
			<key>icon</key>
			<string>icon-site-v2ex</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ifanr</string>
			<key>url</key>
			<string>http://www.ifanr.com/</string>
			<key>icon</key>
			<string>icon-site-ifanr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gmail</string>
			<key>url</key>
			<string>http://mail.google.com/</string>
			<key>icon</key>
			<string>icon-site-gmail</string>
		</dict>
		<dict>
			<key>name</key>
			<string>taobao</string>
			<key>url</key>
			<string>http://www.taobao.com/</string>
			<key>icon</key>
			<string>icon-site-taobao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>apple</string>
			<key>url</key>
			<string>http://www.apple.com/</string>
			<key>icon</key>
			<string>icon-site-apple</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wiki</string>
			<key>url</key>
			<string>http://m.wikipedia.org/</string>
			<key>icon</key>
			<string>icon-site-wiki</string>
		</dict>
	</array>
</dict>
</plist>
